
@{
    ViewBag.Title = "CreateClass";
    string showDiv=ViewBag.Finded;

}


<html>
<head>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>



    <script type="text/javascript">
        function searchFaild() {
            $("#searchResult").html("Sorry!!!! pleas try again!");
        }
    </script>
    <style>
        #ajaxloader {
            display: none;
        }
    </style>

</head>



<body>
    <div class="jumbotron table-bordered form-group outer-div">
       
            <div class="row inner-div col-md-12">
                @using (Ajax.BeginForm("FindClassByAccessCode", new AjaxOptions
                {
                    OnFailure = "searchFaild",
                    UpdateTargetId = "searchResult",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    LoadingElementId = "ajaxloader"

                }))
                {
                <div class="col-md-6">
                    <input type="text" name="accessCode" id="accessCode" placeholder="Your AccessCode that proffesor give you..." />

                </div>
                <div class="col-md-3">
                    <input type="submit" value="Search" class="btn btn-primary btn-success" />

                </div>

                    <div class="col-md-1">
                        <img id="ajaxloader" src="~/Content/LoadingPic/ajax-loader (1).gif" />
                    </div>
                }
            </div>
            <div class="row">
                  <div class="col-md-9"id="searchResult">
                       here result will be show
                  </div>
             </div>
    </div>



    @section Scripts
        {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
