@model Model.Class
@{
    ViewBag.Title = "FIndClass";
}


<html>
<body>
    <div class="jumbotron table-bordered " style="color:green">
        <h6>Find Class By AccessCode :</h6>
       The thread 0x40a0 has exited with code 0 (0x0).

        

    </div>

</body>
</html>