@{
    ViewBag.Title = "FIndClass";
}


<html>
<body>
    <div class="jumbotron">
        <h6>  @Resources.ClassRF.createInnstriction_msg   </h6>
        <div class="row">
            <div class="col-md-4" style="align-content:center">
                <p><a class="btn btn-default btn-success btn-lg col-md-10" href="https://localhost:44355/Classes/FindUniversity">@Resources.ClassRF.Create_btn &raquo;</a></p>
            </div>
        </div>
    </div>
    <hr />
    <hr />
    

</body>
</html>