<div class="jumbotron">
    <hr />

    <div style="align-content:center">

        <h2 class="success">
            your Class Successfully Created!
        </h2>


    </div>
    
    <hr />
    <hr />

    <div class="row">
        <spa class="col-md-5" style="align-content:center">
            <p><a class="btn btn-success col-md-5" href="#">Go TO Class!</a></p>
        </spa>

        <div class="col-md-5" style="align-items:center">
            <p><a class="btn btn-success col-md-5" href="https://localhost:44355/Classes/MyClasses">See All My Class</a></p>
        </div>

    </div>
   


</div>
