<hr />
<br />
<br />

<div class="jumbotron">
    <hr />

    <div>

        <h2>
            Dear @ViewBag.StudentName
        </h2>

        <h3 style="color:cornflowerblue">you have been Enrolled in class << @ViewBag.classname >>sometimes ago!></h3>


    </div>

    <hr />
    <hr />



</div>


