
@{
    ViewBag.Title = "My Classes:";
    int roleid=@ViewBag.UserRoleId;

}
<hr />

    <div class="jumbotron" style="align-content:center">

        <h2 class="maryam">My Classes: </h2>

        <h4>sاینجا باید لیست کلاس ها نمایش یابد</h4>
        <h4>sاینجا باید لیست کلاس ها نمایش یابد</h4>
        <h4>sاینجا باید لیست کلاس ها نمایش یابد</h4>
        <h4>sاینجا باید لیست کلاس ها نمایش یابد</h4>
        


    </div>
    <div style="align-content:center">
        @*if User is a professor,"Creation Botomn " will be apear..... *@
        @if (roleid == 1)
        {
            @Html.Partial("~/Views/CommonPartialView/ShowCreationButomn.cshtml");

        }
        else
        {

         @Html.Partial("~/Views/CommonPartialView/FindAndJoinNewClass.cshtml");

        }

    </div>







