<hr />
<br />
<br />

<div class="jumbotron">
    <hr />

    <div >

        <h2>
            Dear @ViewBag.StudentName
        </h2>

           <h3> Welcome to class @ViewBag.classname !></h3>
        
           <h5>number of Members that  have been enterd befor you is @ViewBag.nth  :)</h5>


    </div>

    <hr />
    <hr />

    <div class="row">
        <spa class="col-md-5" style="align-content:center">
            <p><a class="btn btn-success col-md-5" href="#">Go TO Class!</a></p>
        </spa>

        <div class="col-md-5" style="align-items:center">
            <p><a class="btn btn-success col-md-5" href="https://localhost:44355/Classes/MyClasses">See All My Class</a></p>
        </div>

    </div>



</div>

