
<head>
    <link href="~/Content/Error401.css" rel="stylesheet" />
</head>
<body>

    <div id='error-page'>
        <div id='error-inner'>
            <hr />
            <br />

            <h1> The page you are looking for might have been removed, had its name changed or is temporarily unavailable</h1>
            <div class="pesan-eror">404</div>
            <div class="container">
                <p class="balik-home">Back to Home, your handsome dad here!</p>

            </div>
        </div>
    </div>
</body>
