<head>
    <link href="~/Content/Error401.css" rel="stylesheet" />

</head>
<body>

   <br />
    <br />
    <br />


    <div>
        <div id='error-page'>
            <div id='error-inner'>
                <br/>
                <br />

                <h1>  ! Sorry ! </h1>
                <h3>But you are NOT authorize to see this page</h3>
                <br />
                <div class="pesan-eror">401</div>
                <br />

                <p class="balik-home"><a href="https://localhost:44355/Home">Back to Home</a></p><br />
            </div>
        </div>
    </div>
</body>
