<head>
    <link href="~/Content/Error404.css" rel="stylesheet" />
</head>
<h1 style="color:#CD1076"> !..... Oh no  </h1>
<h3 class="zoom-area"  style="color:#CD1076">     !It seems that the page you are looking for is lost. </h3>
<section class="error-container">
    <span><span>4</span></span>
    <span>0</span>
    <span><span>4</span></span>
</section>
<div class="link-container">
    <a href="https://localhost:44355/Home/" class="more-link">     Back tO Home Page     </a>
</div>