@{
    ViewBag.Title = "Chat App|Home Page";
}
<hr />
<div class="jumbotron">
    <h2>Welcome To My Chat App :)</h2>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://localhost:44355/AccountManager/Login" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<hr />
<hr />
<div class="row">
    <div class="col-md-6" style="align-content:center">
        <p><a class="btn btn-default btn-success btn-lg col-md-10" href="https://localhost:44355/AccountManager/Login">Lets Start as Professor! &raquo;</a></p>
    </div>
    <div class="col-md-6" style="align-items:center">
        <p><a class="btn btn-default btn-primary btn-lg col-md-10" href="https://localhost:44355/AccountManager/Login">Lets Start as Studen! &raquo;</a></p>
    </div>
   
</div>